Binaries
DerivedDataCache
Intermediate
Saved
Plugins/*
Plugins/GameLiftPlugin/*
Content/StarterContent/*
MultiplayerFPS.code-workspace
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.dll
*.lib